<%= form_with model: [user, tweet] do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation" class="px-4 bg-red-400">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.rich_text_area :body, placeholder: 'Which customer do you want to complain about?' %>
  <div class="flex justify-between">
    <div></div>
    <div></div>
    <%= form.submit "Tweet",  class: 'rounded-lg px-4 bg-blue-400 hover:bg-blue-500' %>
  </div>
<% end %>
