<div>
  <div>
    <p>
      <strong>Tweet:</strong>
      <%= tweet.body %>
    </p>
    <p>Created at: <%= tweet.created_at.strftime("%F %T") %></p>
  </div>

  <ul>
    <% if tweet.owned?(current_user) %>
      <li>
        <%= button_to "Destroy tweet", [tweet.user, tweet],
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </li>
      <li>
        <%= button_to "Edit tweet", edit_user_tweet_url(tweet.user, tweet), method: :get %>
      </li>
    <% end %>
    <li>
      <% if tweet.liked?(current_user) %>
        <%= button_to "Dislike", tweet_dislike_url(tweet), method: :put %>
      <% else %>
        <%= button_to "Like", tweet_like_url(tweet), method: :put %>
      <% end %>
    </li>
  </ul>
</div>
