<div class="flex border relative">
  <!-- transforming a div into a link -->
  <!-- https://stackoverflow.com/questions/796087/make-a-div-into-a-link/3494108#3494108 -->
  <%= link_to [tweet.user, tweet] do %>
    <span class="absolute w-full h-full z-10 top-0 left-0"></span>
  <% end %>
  <div>
    <%= image_tag 'default_user.png', alt: 'default-user', class: 'relative z-20 h-16 w-16 bg-transparent' %>
  </div>
  <div class="w-full">
    <div class="dark:text-gray-200">
      <div class="flex">
        <%= render tweet.user, class: "relative z-20" %>
        <p class="mr-1 ml-1">·</p>
        <p><%= tweet.time %></p>
      </div>
      <p><%= tweet.body %></p>
    </div>

    <div class="flex items-center justify-between">
      <%= link_to tweet_flip_like_url(tweet), remote: true, method: :put do %>
        <div class="flex items-center dark:text-gray-200">
          <% if tweet.liked?(current_user) %>
            <svg class="relative z-20 mr-1" xmlns="http://www.w3.org/2000/svg" fill="red" stroke="red" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>
            <%= tweet.like_count.to_i %>
          <% else %>
            <svg class="relative z-20 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="red" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>
            <%= tweet.like_count.to_i %>
          <% end %>
        </div>
      <% end %>
      <% if tweet.owned?(current_user) %>
          <%= link_to "Destroy tweet", [tweet.user, tweet],
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: 'relative z-20 font-bold rounded-lg px-4 bg-blue-400 hover:bg-blue-500' %>
          <%= link_to "Edit tweet", edit_user_tweet_url(tweet.user, tweet),
                      method: :get,
                      class: 'relative z-20 font-bold rounded-lg px-4 bg-blue-400 hover:bg-blue-500' %>
      <% end %>
    </div>
  </div>
</div>
