<div class="mx-auto md:w-1/3 w-full">
  <h1 class="font-bold text-5xl border text-center text-gray-200">
    <%= @my_profile ? "My " : @user.email + " " %>Timeline
  </h1>

  <div class="flex border items-center justify-evenly text-gray-200">
    <%= link_to followers_user_path(@user), class: 'rounded-lg px-4 bg-blue-400 hover:bg-blue-500' do %>
      <p><%= @user.follower_count.to_i %> Followers</p>
    <% end %>
    <%= link_to following_user_path(@user), class: 'rounded-lg px-4 bg-blue-400 hover:bg-blue-500' do %>
      <p><%= @user.following_count %> Following</p>
    <% end %>
    <% if @following %>
      <%= button_to "Unfollow", unfollow_user_path(@user), method: :put, class: 'rounded-lg px-4 bg-blue-400 hover:bg-blue-500' %>
    <% else %>
      <%= button_to "Follow", follow_user_path(@user), method: :put, class: 'rounded-lg px-4 bg-blue-400 hover:bg-blue-500' %>
    <% end %>
  </div>

  <% unless @tweets.empty? %>
    <% @tweets.each do |tweet| %>
      <!-- Why is there a null tweet being displayed?? -->
      <% unless tweet.body.nil? %>
        <%= render tweet %>
      <% end %>
    <% end %>
  <% end %>
</div>
