<div>
  <h1 class="font-bold text-5xl">
    <%= @my_profile ? "My " : @user.email + " " %>Timeline
  </h1>
  <div>
    <% unless @my_profile %>
      <% if @following %>
        <li class="text-red-500"><%= button_to "Unfollow", unfollow_user_path(@user), method: :put %></li>
      <% else %>
        <li class="text-red-500"><%= button_to "Follow", follow_user_path(@user), method: :put %></li>
      <% end %>
    <% end %>
  </div>

  <h2 class="font-bold text-center">Followers</h2>
  <% @user.list_of_followers.each do |follower| %>
    <%= follower.email %>
  <% end %>

  <h2 class="font-bold text-center">Following</h2>
  <% @user.list_of_following.each do |following| %>
    <%= following.email %>
  <% end %>

  <h2 class="font-bold text-center">Tweets</h2>
  <% unless @tweets.empty? %>
    <% @tweets.each do |tweet| %>
      <!-- Why is there a null tweet being displayed?? -->
      <% unless tweet.body.nil? %>
        <%= render tweet %>
      <% end %>
    <% end %>
  <% end %>
</div>
