<div>
  <h1 class="font-bold text-5xl">
    <%= @my_profile ? "My " : @user.email + " " %>Timeline
  </h1>
  <div>
    <% unless @my_profile %>
      <% if @following %>
        <li class="text-red-500"><%= link_to "Unfollow", unfollow_user_path(@user) %></li>
      <% else %>
        <li class="text-red-500"><%= link_to "Follow", follow_user_path(@user) %></li>
      <% end %>
    <% end %>
    <ul>
        <li class="text-red-500"><%= link_to "Timeline", root_path %></li>
        <li class="text-red-500"><%= link_to "Sign Out", destroy_user_session_path(@user),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></li>
    </ul>
  </div>

  <h2 class="font-bold text-center">Followers</h2>
  <% @user.list_of_followers.each do |follower| %>
    <%= follower.email %>
  <% end %>

  <h2 class="font-bold text-center">Following</h2>
  <% @user.list_of_following.each do |following| %>
    <%= following.email %>
  <% end %>

  <h2 class="font-bold text-center">Tweets</h2>
  <% if @user.tweets.exists? %>
    <% @user.tweets.each do |tweet| %>
      <!-- Why is there a null tweet being displayed?? -->
      <% unless tweet.body.nil? %>
        <%= render tweet %>
      <% end %>
    <% end %>
  <% end %>
</div>
