<div>
  <h1 class="font-bold text-5xl">Timeline</h1>
  <div>
    <ul>
      <li class="text-red-500"><%= link_to "Users", users_path %></li>
      <li class="text-red-500"><%= link_to "Profile", user_path(@user) %></li>
      <li class="text-red-500"><%= link_to "Sign Out", destroy_user_session_path(@user),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></li>
    </ul>
  </div>

  <div>
    <h2>Add a tweet:</h2>
    <%= render 'tweets/form', user: @user, tweet: @user.tweets.build %>
  </div>

  <div>
    <h2 class="font-bold text-5xl">Tweets</h2>
    <% @all_tweets.each do |tweet| %>
        <%= render tweet %>
    <% end %>
  </div>
</div>
