<!DOCTYPE html>
<% if cookies[:theme] %>
  <html class="dark bg-black">
<% else %>
  <html>
<% end %>
  <head>
    <title>Twirails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex-col">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="mx-auto md:w-2/5 w-full text-center">
      <% if notice %>
        <p class="rounded-lg px-4 bg-blue-400"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="rounded-lg px-4 bg-red-400"><%= alert %></p>
      <% end %>
    </div>
    <main>
        <%= yield %>
    </main>
  </body>
</html>
